* {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
}

.container {
  width: 400px;
  text-align: center;
  border: 2px solid #616161;
  border-radius: 6px;
  padding: 40px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  margin: 0;
}

label[for="quantity"], #quantity {
  cursor: pointer;
}

#quantity {
  width: 70px;
  text-align: center;
  border: 1px solid #8763c9;
  border-radius: 3px;
  padding: 3px;
  margin-left: 5px;
}

#submit-btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #8763c9;
  padding: 4px 6px;
  cursor: pointer;
  transition: opacity 0.15s;
}

#submit-btn:hover {
  opacity: 0.85;
}

#dices {
  display: block;
}

img {
  height: 101px;
}

p {
  text-align: center;
  margin: 50px 0 20px 0;
}

span {
  margin-top: 15px;
  color: rgb(197, 12, 12);
}