* {
  margin: 0;
  box-sizing: border-box; /* Adicionando essa regra para garantir que a largura total inclua a borda e o preenchimento */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  height: 50px;
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  position: fixed; /* Fixa o cabeçalho no topo da página */
  top: 0;
  z-index: 100; /* Define a ordem de empilhamento para garantir que o cabeçalho fique acima de outros elementos */
}

main {
  margin-top: 50px; /* Garante que o conteúdo principal não seja sobreposto pelo cabeçalho */
  padding: 20px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fixa o rodapé na parte inferior da página */
  bottom: 0;
}