body {
  background: url(images/papiro_bg_gg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bigelow Rules', serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#bodyError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: auto;
}

#bodyError h1 {
  display: block;
  font-size: 38px;
  margin: 0;
}

#bodyError button {
  display: block;
  border: none;
  background-color: rgba(183, 156, 109, 0.5);
  margin-top: 20px;
  width: 481px;
  height: 36px;
  font-family: 'Bigelow Rules', serif;
  font-size: 30px;
  cursor: pointer;
  transition: opacity 0.15s;
}

#bodyError button:hover {
  opacity: 0.85;
}

#title {
  font-size: 42px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

#logo {
  display: flex;
  justify-content: center;
  margin: 0;
}

#logo img {
  height: 70px;
  margin: 0;
}

#characterForm {
  height: 50vh;
  width: 500px;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 25px;
}

.radioGroup img {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  padding: 5px 0 0 0;
}

input[type="radio"] {
  visibility: hidden;
}

label[for="chooseByCharacter"], label[for="chooseByActor"] {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: auto;
  cursor: pointer;
  color: #303c42;
  transition: opacity 0.15s;
}

label[for="chooseByCharacter"]:hover, label[for="chooseByActor"]:hover {
  opacity: 0.8; /*arrumar hover para que quando selecionado ele nao altere a opacidade*/
}

input[type="radio"]:checked+label {
  color: goldenrod;
  font-weight: bold;
}

label[for="dropdown"] {
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.selectGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dropdown {
  width: 380px;
  height: 40px;
  background-color: rgba(183, 156, 109, 0.26);
  border: none;
  font-family: 'Bigelow Rules', serif;
  font-size: 27px;
  cursor: pointer;
  transition: opacity 0.2s;
}

#dropdown:hover {
  opacity: 0.85;
}

#search {
  border: none;
  background-color: rgba(183, 156, 109, 0.5);
  margin-top: 15px;
  width: 500px;
  height: 34px;
  font-family: 'Bigelow Rules', serif;
  font-size: 28px;
  cursor: pointer;
  transition: opacity 0.15s;
}

#search:hover {
  opacity: 0.85;
}

#characterData {
  display: none;
}

.data {
  font-size: 30px;;
  margin: 0;
}

#dataImg {
  height: 250px;
}